<div class = 'row'>
  <div class = 'col-sm-4 mb-4'>
    <% if @user_answer_id == @question.true_option_id %>
      <h4>正解！</h4>
    <% else %>
      <h4>不正解...</h4>
    <% end %>
    <h6>問題id: <%= @question.id %></h6>
  </div>
</div>

<p>問題</p>
<div class = 'card mb-4'>
  <div class="card-body">
    <%= @question.question %>
  </div>
</div>

<p>正解の選択肢</p>
<div class = 'card mb-4'>
  <div class="card-body">
    <% options = ['', @question.option_1, @question.option_2, @question.option_3, @question.option_4] %>
    <% true_num = @question.true_option_id %>
    <% true_option = options[true_num] %>
    <%= true_option %>
  </div>
</div>

<p>解説</p>
<div class = 'card mb-4'>
  <div class="card-body">
    <%= @question.explanation %>
  </div>
</div>

<div>
  <%= link_to 'TOPへ', users_path, class: 'btn btn-secondary col-sm-2' %>
  <% if @current_q_num + 1 == @q_length %>
    
  <% else %>
    <% next_num = @current_q_num + 1 %>
    <% next_id = @qid_list[next_num] %>
    <%= link_to '次へ', question_select_path(next_id), class: 'btn btn-primary offset-sm-7 col-sm-2' %>
  <% end %>
</div>